<!--Footer-->
<footer class="exp-footer-style-2  exp-primary-bg">
    <div class="exp-footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6">
                    <div class="exp-wrapper">
                        <div class="exp-footer-item-left">
                            <div class="exp-logo"><a routerLink='/'><img src="assets/img/logo-2.png" alt="logo"></a></div>
                            <div class="exp-footer-item-inner">
                                <p>Lorem Ipsum is not simply random text It has roots in a piece of classical Latin literature Latin.</p>
                            </div>
                            <div class="exp-footer-social">
                                <ul class="inline-block">
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6">
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="exp-wrapper">
                        <div class="exp-footer-item-center">
                            <h6>Generals</h6>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="exp-wrapper">
                        <div class="exp-footer-item-center-2">
                            <h6>Quick Links</h6>
                            <ul>
                                <li><a href="#">Team Member</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Project</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid exp-dark-bg exp-footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-4">
                    <div class="exp-copyright-left">
                        <p>Copyright &copy; <a href="javascript:void(0)">faqihamruddin</a> - 2020</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-8">
                    <div class="exp-copyright-right">
                        <ul class="inline-block">
                            <li><a href="javascript:void(0)">Terms and Conditions</a></li>
                            <li><a href="javascript:void(0)">Privacy & Policy</a></li>
                            <li><a href="javascript:void(0)">Legal</a></li>
                            <li><a href="javascript:void(0)">Notice</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--==END Footer==-->