<app-header></app-header>
<header>
    <section class="exp-banner-head exp-banner-head-about-1 primary-overlay">
        <div class="container">
            <div class="section-title-center exp-banner-title">
                <h1>About Us</h1>
                <p>Home<span class="exp-primary-color">About Us</span></p>
            </div>
        </div>
    </section>
</header>
<section class="section-padding exp-product-section exp-about-product1">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <h3>Kalina is the Best Digital Agency Since 1998 in Indonesia</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse ultrices gravida. Risus commodo viverra maecenas</p>
                        <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incid
                            idunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                            Letraset sheets containing gravida. </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exp-img-wrapper right-side">
                        <img src="assets/img/about/team.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-product-section exp-about-product2 light-bg">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="exp-img-wrapper left-side">
                        <img src="assets/img/about/meet.png" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <div class="exp-product-title">
                            <h3>How We Work for Your Business and Startup to Achieve Goal</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse ultrices gravida. Risus commodo viverra maecenas.</p>
                            <p>Cumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices Letraset sheets containing gravida.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>