<app-header></app-header>
<header>
    <section class="exp-home1-header exp-home3-header">
        <div class="exp-home1-slider">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-lg-8">
                            <div class="exp-img-wrapper">
                                <img src="assets/img/homepage/ft2.png" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-4 col-content-center">
                            <div class="exp-header-item">
                                <h1>Duis aute irure dolor in reprehenderit</h1>
                                <p class="light-color">cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
<section class="exp-services-2 section-padding">
    <div class="container">
        <div class="section-title-center">
            <h2>What Services We Offers</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-icon-block">
                        <span class="green-gradient"><i class="flaticon-shout"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h5>Digital Marketing</h5>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                    </div>
                    <div class="exp-arrow">
                        <a routerLink='/service-two'><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-icon-block">
                        <span class="orange-gradient"><i class="flaticon-computer"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h5>Design and Code</h5>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                    </div>
                    <div class="exp-arrow">
                        <a routerLink='/service-two'><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-icon-block">
                        <span class="purple-gradient"><i class="flaticon-idea-1"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h5>Creative Solutions</h5>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                    </div>
                    <div class="exp-arrow">
                        <a routerLink='/service-two'><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-product-section exp-about-product2 exp-secondary-bg exp-home3-product2">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <div class="exp-product-title">
                            <h2>Why Choose Our Services for Your
                                Business and Startup</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="exp-points d-flex">
                            <div class="exp-num-block">
                                <p class="purple-gradient"><i class="flaticon-feedback"></i></p>
                            </div>
                            <div class="exp-points-txt">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                            </div>
                        </div>
                        <div class="exp-points d-flex margin-l-30">
                            <div class="exp-num-block">
                                <p class="orange-gradient"><i class="flaticon-pie-chart"></i></p>
                            </div>
                            <div class="exp-points-txt">
                                <p>It is a long establish fact that a reader will be distract by the readable content.</p>
                            </div>
                        </div>
                        <div class="exp-points d-flex margin-l-50">
                            <div class="exp-num-block">
                                <p class="green-gradient"><i class="flaticon-target"></i></p>
                            </div>
                            <div class="exp-points-txt">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing ellabore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exp-img-wrapper right-side height-50">
                        <img src="assets/img/homepage/ft.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-product-section">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="exp-img-wrapper left-side height-50">
                        <img src="assets/img/homepage/ft1.png" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <h2>We Ensure the Success of Your
                            Products and Business</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse ultrices gravida. Risus commodo viverra maecenas</p>
                        <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incid
                            idunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                            Letraset sheets containing gravida. </p>
                        <a routerLink='/contact' class="btn btn-primary btn-top-50">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>